extends layouts/layout.pug

mixin entry(url, title, date, categories, thumb)
        a.stack(href=url)
            .frame.nyoom
                img(src=thumb, alt=title)
            .cluster.work
                p.imsad #{title}
                p #{date}

block text
    .fit.pads
        h1 A visual designer who enjoys creating elegantly aesthetic solutions, with a touch of minimalism.
block overflow
    .grid
        each work in collections.work.reverse()
            +entry(work.url, work.data.title, work.data.info.date, work.data.info.categories, work.data.info.thumb)