extends layouts/layout.pug

mixin entry(url, title, date, categories, thumb)
        a(href=url)
            .frame
                img(src=thumb, alt=title)
            .cluster.work
                p #{title}
                p #{date}

block text
    .fit.pads
        h1 A visual designer who enjoys creating elegantly aesthetic solutions, with a touch of minimalism.
block overflow
    .grid
        each work in collections.work
            +entry(work.url, work.data.info.title, work.data.info.date, work.data.info.categories, work.data.info.thumb)